<!-- footer -->
<footer class="my_footer grey lighten-2">
    <div class="my_container row">
        <div class="center col m12">
            <ul class="my_nav">
                <li class="my_footer-list-item col s12 m12 l2">
                    <a target="_blank"
                        href="http://disasteraccountability.org/what-we-do/" class="black-text">{{ 'FooterComponent-WHAT_WE_DO_LINK'| translate }}</a>
                </li>
                <li class="my_footer-list-item col s12 m12 l2">
                    <a target="_blank"
                        href="http://disasteraccountability.org/about-us/our-mission/" class="black-text">{{'FooterComponent-ABOUT_US_LINK'| translate}}</a>
                </li>
                <li class="my_footer-list-item col s12 m12 l2">
                    <a target="_blank"
                       href="http://disasteraccountability.org/get-involved/" class="black-text">{{'FooterComponent-GET_INVOLVED_LINK'| translate}}</a>
                </li>
                <li class="my_footer-list-item col s12 m12 l2">
                    <a target="_blank"
                        href="http://disasteraccountability.org/news-media/" class="black-text">{{'FooterComponent-NEWS_+_MEDIA_LINK'| translate}}</a>
                </li>
                <li class="my_footer-list-item col s12 m12 l2">
                    <a target="_blank"
                        href="http://www.disasteraccountability.org/blog2/" class="black-text">{{'FooterComponent-BLOG_LINK'| translate}}</a>
                </li>
                <li class="my_footer-list-item col s12 m12 l2">
                    <a target="_blank"
                        href="http://disasteraccountability.org/contact-us/" class="black-text">{{'FooterComponent-CONTACT_US'| translate}}</a>
                </li>
            </ul>
        </div>
    </div>
</footer>
